.signup-container,
.signin-container {
  min-width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #fff;
}
.page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 80, 10);
}
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

.account-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.account-link a {
  color: #0056b3;
  text-decoration: none;
}
.account-link a:hover {
  color: #054486;
  text-decoration: underline;
}
