.navbar-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-right-side span:hover {
  transition: all 1 ease-in-out;
  background-color: #f0f0f0;
}

.btns,
.total-notes {
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  margin-right: 3px;
  background-color: #fff;
}
.btns:hover {
  background-color: #e9eaea;
}
.btns a {
  color: #333;
  text-decoration: none;
}
