.left-side-bar {
  padding: 10px 0px 0px 0px;
  max-width: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  transition: all 0.5s;
  cursor: pointer;
}
.left-side-bar .license p {
  padding: 10px 15px;
  font-size: 10px;
  font-style: italic;
  color: #333;
  text-align: center;
}
